:root
{
    --border-color : rgb(17, 227, 255);
}


*
{
    padding: 0;
    margin: 0;
}

header
{
    height: 50px;
    font-weight: 700;
    background-color: rgb(255, 92, 92);
    font-size: 30px;
    text-align: center;
}






.btn {
  
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    width: 250px;
    color: #e74c3c;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    /* margin-right: 20px; */
 
    text-decoration: none;
    text-align: center;
    font-weight: 700;
  }
  .btn:hover, .btn:focus {
    color: rgb(10, 9, 9);
    outline: 0;
  }
  

  
  .fifth {
    border-color: #0446d4;
    border-radius: 0;
    color: #241b1b;
    position: relative;
    overflow: hidden;
    font-weight: 700;
    z-index: 1;
    transition: color 150ms ease-in-out;
  }
  .fifth:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 100%;
    
    background: #eeecfd;
    z-index: -1;
    transition: width 150ms ease-in-out;
  }
  .fifth:hover {
    color: rgb(0, 0, 0);
  }
  .fifth:hover:after {
    width: 110%;
    color: rgb(0, 0, 0);
  }
  
button:hover
{
    color: black;
}  

.badge__card
{
    width: 200px;
}
.our__team
{
    text-align: center;
    margin: auto;
    max-width:70vh;
    height: 80px;
    /* padding-block: 4px; */
    font-size: 25px;
    color: var(--border-color);
    border-bottom: 7px solid var(--border-color);
    /* margin-bottom: 30px; */
    letter-spacing: 1px; 
}

.wrapper{
    height: 350px;
    width: 280px;
    position: relative;
    transform-style: preserve-3d;
   perspective: 1000px;
  }
  .wrapper .card{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    transform: translateY(0deg);
    transform-style: preserve-3d;
    backface-visibility: hidden;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
  }
  .wrapper:hover > .front-face{
    transform: rotateY(-180deg);
  }
  .wrapper .card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .wrapper .back-face{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    transform: rotateY(180deg);
  }
  .wrapper:hover > .back-face{
    transform: rotateY(0deg);
  }
  .wrapper .back-face img{
    height: 150px;
    width: 150px;
    padding: 5px;
    border-radius: 50%;
    background: linear-gradient(375deg, #1cc7d0, #c8ff02);
  }
  .wrapper .back-face .info{
    text-align: center;
  }
  .back-face .info .title{
    font-size: 30px;
    font-weight: 500;
  }
  .back-face ul{
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .back-face ul a{
    display: block;
    height: 40px;
    width: 50px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    margin: 0 5px;
    line-height: 38px;
    justify-content: center;
    align-content: center;
    border: 2px solid transparent;
    border-radius: 20%;
    background: gold;
    transition: all 0.5s ease;
  }
  .back-face ul a:hover{
    color: #1cc7d0;
    border-color: #1cc7d0;
    background: linear-gradient(375deg, transparent, transparent);
  }





  
/* The footer is fixed to the bottom of the page */

footer {
    position: fixed;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
    text-decoration: none;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       
        

