/* {% load static %} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: transparent;
}
html{
    scroll-behavior: smooth;
}
html, body{
    overflow-x: hidden;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    line-height: 1.6;
    background-image: linear-gradient(135deg, #fdfdef 0%, #fcfbe6 100%);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

/* all similar content styling codes */
section{
    padding: 50px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* home section styling */

.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content{
    margin-bottom: 15%;
    padding: 40px;
    background:transparent;
    border-radius: 1rem;
}
.home .home-content .text-1{
    font-size: 27px;
    text-shadow: 0.1rem 0.1rem 0.8rem white;

}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 450;
    margin-left: -3px;
    text-shadow: 0.1rem 0.1rem 0.6rem rgb(19, 11, 90);

}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;

}
.home .home-content .text-3 span{
    color: rgb(55, 40, 221);
    font-weight: 500;

}
.home .home-content a{
    display: inline-block;
    background: rgb(55, 40, 221);
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid rgb(55, 40, 221);
    transition: all 0.3s ease;

}
.home .home-content a:hover{
    background-color: transparent;
    color: black;
    text-decoration: none;
}

/* responsive media query start */

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
}
@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .max-width{
        max-width: 930px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
}

/*--- iOS Fixed Background Image --*/
.fixed-background {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .fixed-wrap {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -999!important;
  }
  .fixed {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    background-position: center center;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    will-change: transform;
  }

  
  #carousel .carousel-item{
    height:650px;
    width:100%;
    min-height:350px;
    background:no-repeat center center scroll;
    background-size:cover;
  }
  #carousel .carousel-inner .carousel-item{
    transition:-webkit-transform 1s ease;
    transition:transform 2s ease;
    transition:transform 2s ease, -webkit-transform 2s ease;
  }
  #carousel .carousel-item .home_img{
    float: right;
  }
  

  


