
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.css" />
<link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials-theme-flat.css" />
   
<style>


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


.jssocials-share-link { border-radius: 50%; }

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  margin-left:300px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #dddffa;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
#myInput
{
  margin-left: 230px;
}
.heading
{
  margin-left:90px;
}
</style>


<!-- <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Link</button> -->

<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
  <form class="modal-content" action="/action_page.php">
    <div class="container">
      <h1>Share link on social media platform.</h1><br>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi minus nisi, repellat repellendus odit dignissimos fugit ipsam obcaecati temporibus, autem, id enim veritatis ipsa eius doloribus! Nisi error aliquid quaerat.</p>
      <br><div class="heading">
        <input type="text" value="https://leukeaware.herokuapp.com/" id="myInput" style="width: 50%;margin-left: -20px;border-radius: 10px;">
        <a onclick="myFunction()" style="background-color: rgb(90, 90, 223);padding: 15px;border-radius: 10px;">Copy link</a>
      </div>
      <div id="share"></div>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>


<script>
    function myFunction() {
      var copyText = document.getElementById("myInput");
      copyText.select();
      copyText.setSelectionRange(0, 99999); 
      navigator.clipboard.writeText(copyText.value);
      alert("Copied the text: " + copyText.value);
    }
    </script>

<script>
  let current_url =  window.location.href;

  if (current_url.slice(-5) == "#task") {
    referral_link = current_url.slice(0, current_url.length - 11 ) + "referral/" + "{{ref_code}}";
  }else{
  referral_link = current_url.slice(0, current_url.length - 6 ) + "referral/" + "{{ref_code}}";
  }
  print
  document.getElementById("myInput").value = referral_link;
  console.log(current_url);   

</script> 
<script src="https://kit.fontawesome.com/7368c40b21.js" crossorigin="anonymous"></script>
      
      <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
      
      <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.4.0/jssocials.min.js"></script>
      <script>
          $("#share").jsSocials({
    
    text: "\nHello, we are from LeukeAware. Blood Cancer is a dangerous disease, and many of us are not aware about it. It is difficult to cure, but can be cured by stem cell transplant. HLA typing of donor and reciver must match, But people with same HLA typing are rare. So, the BKMS foundation is creating a database of donors. Let's contribute to this noble cause and save lives. Also, you can register as a blood donor through our website. Let's delete blood cancer.",
    url: referral_link,
    showLabel: false,
    shares: [
      "twitter",
      "facebook",
      "whatsapp",
      "linkedin"
    //    "instagram",
    //   { share: "facebook", label: "Like our Page" },
    //   { share: "whatsapp", label: "Send a Message" },
    ],
  });
      </script>