*
{
    margin: 0;
    padding: 0;

}



.divder
{
    background-color: gold;
}
  
.heading h3
{
    font-weight: 800;
    font-size: 40px;
    margin-bottom: 60px;
    text-align: center;
    margin: auto;
    max-width:30vh;
    height: 55px;
    
    border-bottom: 7px solid rgb(15, 231, 130);
    /* margin-bottom: 30px; */
    letter-spacing: 1px; 
}




  /* ======================== */
  .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: left;
    background-color: #334455;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
  }
  
  .progress {
    width: 600px;
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  /**/
  .progress-bar.blue {
    background-color: #efefef;
    height: 25px;
    padding: 5px;
    width: 350px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 4px green inset, 0 1px 0 #444;
    box-shadow: 0 1px 4px green inset, 0 1px 0 #444;
  }
  .progress-bar.blue span {
    background-color: yellowgreen;
    display: inline-block;
    height: 100%;
    position: relative;
    width: 45%;
  }



/* ============================ */


  .blog-slider {
    width: 95%;
    position: relative;
    max-width: 975px;
    margin: auto;
    /* background: #fff; */
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 25px;
    border-radius: 25px;
    height: 400px;
    transition: all 0.3s;
 }
  @media screen and (max-width: 992px) {
    .blog-slider {
      max-width: 680px;
      height: 400px;
   }
 }
  @media screen and (max-width: 768px) {
    .blog-slider {
      min-height: 500px;
      height: auto;
      margin: 180px auto;
   }
 }
  @media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider {
      height: 350px;
   }
 }
  .blog-slider__item {
    display: flex;
    align-items: center;
 }
  @media screen and (max-width: 768px) {
    .blog-slider__item {
      flex-direction: column;
   }
 }


  .blog-slider__img {
    width: 330px;
    /* flex-shrink: 0; */
    height: 280px;
    background-image: url(/assets/img/avatar.png);
    box-shadow: 4px 13px 30px 1px rgba(252, 56, 56, 0.2);
    border-radius: 20px;
    transform: translateX(-80px);
    /* overflow: hidden; */
 }
  .blog-slider__img:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    /* opacity: 0.8; */
 }
  .blog-slider__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  
    border-radius: 20px;
    transition: all 0.3s;
 }
  @media screen and (max-width: 768px) {
    .blog-slider__img {
      transform: translateY(-50%);
      width: 90%;
   }
 }
  @media screen and (max-width: 576px) {
    .blog-slider__img {
      width: 95%;
   }
 }
  @media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider__img {
      height: 270px;
   }
 }
  .blog-slider__content {
    padding-right: 25px;
 }
  @media screen and (max-width: 768px) {
    .blog-slider__content {
      margin-top: -80px;
      text-align: center;
      padding: 0 30px;
   }
 }
  @media screen and (max-width: 576px) {
    .blog-slider__content {
      padding: 0;
   }
 }
  .blog-slider__content > * {
    /* opacity: 0; */
    transform: translateY(25px);
    transition: all 0.4s;
 }
  .blog-slider__code {
    color: #7b7992;
    margin-bottom: 15px;
    position: relative;
    top: -30px;
    display: block;
    font-weight: 500;
 }
  .blog-slider__title {
    font-size: 24px;
    font-weight: 800;
    color: #0d0925;
    margin-bottom: 20px;
    position: relative;
    top: -50px;
 }
  .blog-slider__text {
    color: #4e4a67;
    /* margin-bottom: 30px; */
    /* line-height: 1.5em; */
    position: relative;
    top: -60px;
 }
  .blog-slider__button {
    display: inline-flex;
    background-image: linear-gradient(147deg, #fe8a39 0%, #fd3838 74%);
    padding: 15px 35px;
    border-radius: 50px;
    color: #fff;
    box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
 }
  @media screen and (max-width: 576px) {
    .blog-slider__button {
      width: 100%;
   }
 }
  .blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
 }


/* ================ */
.progress-bar {
    background-color: #b42323;
    height: 25px;
    padding: 5px;
    width: 350px;
    margin: 50px 0;
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
  }

  .progress-bar span {
    display: inline-block;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;
  }

/* The footer is fixed to the bottom of the page */

footer {
    position: relative;
    bottom: 0;
}

@media (max-height:800px) {
    footer {
        position: relative;
    }
    
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #e0ac1c;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #3F71EA;
}

.footer-links a:hover {
    color: #3F71EA;
}

@media (max-width: 1280px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
    footer {
      position: relative;
      bottom: 0;
  }
}       